table{ 
	float: right;
}
#rounded_corner{
	border-radius: 25px;
	width: 50%;
}
form{
	position: relative;
	top:200px;
	text-align: center;
}
.button{
	margin-top:5px;
}
#advanced_button{
	background-color: blue;
	color: white;
}